@charset "UTF-8";

/* -- 카페 목록 -- */
.cafe_list h2{margin: 120px 0 40px;}
.cafe_list .list{margin: 80px 0; overflow: hidden; width: 100%;}

.cafe_list .list li{ position: relative; margin:0 0 2%; text-align: center; }

#main_text{ background-color: #eee; text-align: center;}

.cafe_list img{width: 100%;}
.cafe_list .list li:hover img{transform:scale(1.2); opacity: .7; -webkit-transition: all 0.25s ease-out; transition: all 0.25s ease-out;}

.cafe_list .cafeListBox{overflow: hidden; border-bottom: 1px solid #eee; padding: 40px 0;}
.cafe_list .cafeListBox .cafeInfoImg{overflow: hidden; width: 30%; float: left;}
.cafe_list .cafeListBox .cafeInfoBox{width: 70%; float: left; text-align: left; box-sizing: border-box; padding-left: 4%;}

.cafe_list .cafeInfoBox .cafeInfoTitle{font-size: 32px; line-height: 42px; width:100%; box-sizing:border-box; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.cafe_list .cafeInfoBox h3{font-size: 24px; line-height: 28px;}
.cafe_list .cafeInfoBox h4{font-size: 18px; line-height: 24px; padding: 20px 0; }
.cafe_list .cafeInfoBox a{font-size: 12px; line-height: 18px;}

.pageBox{text-align: center;}

/* -- 카페 상세 -- */
.cafeTitle{margin: 120px 0 40px;}
.cafeTitle span{display: inline-block; padding-right: 10px;}

#cafeInfo {border-top:1px solid #eee; border-bottom:2px solid #eee; padding: 20px 0 40px}

#cafeInfo .table>tbody>tr>td, 
#cafeInfo .table>tbody>tr>th{border: none;}

#cafeInfo .tag{overflow: hidden;}
#cafeInfo .tag ul{width: 102%; margin: 20px 0;}
#cafeInfo .tag li{width: 18%; float: left; margin: 0 2% 0 0;} 
#cafeInfo .tag li *{font-size: 18px; line-height: 24px; padding: 10px; box-sizing: border-box; display: block; width: 100%; text-align: center;}

#cafeInfo #memuList{width: 250px;}
#cafeInfo #memuList .menu{overflow: hidden;  padding: 5px 0;}
#cafeInfo .menu .menuName,
#cafeInfo .menu .menuPrice{width: 50%; float: left;}

#cafeInfo .menu .menuPrice{text-align: right;}

/* 리뷰작성 */
.reviewWriter{padding: 40px 0 0; /* width: 500px; margin: 0 auto; */}
.reviewWriter .btnBox{text-align: center; margin: 20px 0;}

.reviewWriter .reviewContent{margin: 0 0 20px;}
.reviewWriter .well{margin-bottom: 0;}

/* 리뷰목록 */
.reviewBox{margin: 20px 0 40px;}
.reviewBox .reviewUser li{padding: 20px 0; border-bottom: 1px solid #eee;}

.reviewBox .cafeReview {overflow: hidden;}

.reviewBox .cafeReview .userImg{width: 170px; float: left; box-sizing: border-box; padding: 10px; text-align: center;}
.reviewBox .cafeReview .userImg img{border-radius: 50%; width: 150px; height: 150px;}
.reviewBox .cafeReview .userImg span{display: block; text-align: center; padding: 10px 0 0;}

.reviewBox .cafeReview .review{width: calc(100% - 170px); float: left; box-sizing: border-box; padding: 0 60px 0 10px; position: relative;}
.reviewBox .cafeReview .review #images1{ width: 70px; }
.reviewBox .cafeReview .point{position: absolute; right: 5px; top: 5px;}

.reviewBox .review span{font-size: 16px; line-height: 18px;}
.reviewBox .review p{margin: 40px 0 0;}

.reviewBox .reviewText{overflow: hidden; margin: 80px 0 40px; background: #eee; padding: 10px 20px; box-sizing: border-box;}
.reviewBox .reviewText, 
.reviewBox .reviewText a{font-size: 24px; line-height: 28px;}
.reviewBox .reviewL,
.reviewBox .reviewR{width: 50%; float: left;}
.reviewBox .reviewR{text-align: right;}
.reviewBox .reviewR li{display: inline-block; font-size: 18px;}
.reviewBox .reviewR li:after{content: " | "; display: inline-block; padding: 0 10px;}
.reviewBox .reviewR li:last-child:after{content: ""; padding: 0;}
