@charset "UTF-8";

html,
body {
    height: 100%;
}

#content {
    margin: 0 0 120px;
}

/* 상단 */
.bgBox {
    height: 40%;
}

.topMypage h2 {
    text-align: center;
}

.bg {
    background-image: url("../img/mypage/topImg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}

.topMypage .imgBox {
    margin: 80px 0 0;
}

.topMypage .imgBox img {
    width: 100%;
    box-sizing: border-box;
    border: 10px solid #f5f5f5;
}

.topMypage h3 {
    margin: 80px 0 40px;
}

.linkBox {
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    background-color: #f5f5f5;
    padding: 20px;
}

.topMypage .imgBox .textBox a {
    padding: 0 10px;
}

/* 하단 */
.bottomMypage h3 {
    margin: 120px 0 40px;
}

.bottomMypage .linkBox {
    background-color: #f9f9f9;
}

.bottomMypage table,
.bottomMypage table th {
    text-align: center;
}

.bottomMypage .reviewBox th:nth-child(2),
.bottomMypage .reviewBox td:nth-child(2),
.bottomMypage .cafeBox th:nth-child(2),
.bottomMypage .cafeBox td:nth-child(2),
.bottomMypage .cafeBox th:nth-child(3),
.bottomMypage .cafeBox td:nth-child(3) {
    text-align: left;
}

.bottomMypage .reviewBox td:nth-child(2),
.bottomMypage .cafeBox td:nth-child(2),
.bottomMypage .cafeBox td:nth-child(3) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.a-btn,
.bottomMypage .pageBox{text-align: center;}

/* 카페 등록 */
.formBox{margin: 120px auto 0;}
.formBox .input-group{width: 100%;}

.bottomMypage .formBox table th{vertical-align: middle;}